.header {
    z-index: 0;
    background: url("../img/decor/header-bg.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    width: 174px;
    height: 60px;
    z-index: 6;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__link {
    position: relative;
    opacity: .85;
}

.header__link::before {
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    z-index: -1;
    top: -13px;
    left: -13px;
    background: #FFA55C;
    border-radius: 50%;
    opacity: 0;

    transition: opacity, .6s;
}

.header__link:hover {
    opacity: 1;
}

.header__link:hover::before {
    opacity: 1;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 160%;
    font-weight: 500;
    height: 62px;
    border-radius: 60px;
    background: #ffa55c;
    padding: 5px 10px;

    transition: all, .3s;
}

.btn:hover {
    background: #FF9138;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;

}

.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background: #383737;
    border-radius: 100px;
    position: relative;
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background: #383737;
    border-radius: 100px;
    transition: all .3s;
}

.burger-icon span::after {
    top: 8px;
}

.burger-icon span::before {
    bottom: 8px;
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-menu .burger-icon span::after {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::before {
    bottom: 0;
    transform: rotate(-45deg);
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

/* ============HERO================== */

.hero {
    padding-top: 48px;
    padding-bottom: 140px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: #B197B3;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: "";
    background: #B197B3;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    font-family: Gabriola;
    color: #1F1711;
    line-height: 82%;
    font-weight: 400;
    font-size: 74px;
    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 40px;
    max-width: 360px;
}

.hero__btn {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    right: -43%;
    bottom: 11%;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    width: 78px;
    height: 78px;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    background: rgb(255, 224, 203);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    position: relative;
}

.hero__img-button img {
    padding-left: 10%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid #ffa55c;

    opacity: 0;
    transition: all .3s;
}

.hero__img-button:hover::before {
    opacity: 1;
}