@import url("header.css");
@import url("global.css");





.about {
    padding: 140px 0 140px;
    display: flex;
    gap: 13px;
}

.about__content {
    position: relative;
    margin-right: 40px;
}

.about__img-girl {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.about__modal {
    position: absolute;
    display: flex;
    left: 30px;
    bottom: 25px;
    color: #fdfcfc;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 299px;
    max-height: 108px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #957b97e6;
}

.about__modal-link {
    width: 78px;
    height: 78px;
    background: #fdfcfc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__modal-link::before {
    content: '';
    border: 1px solid rgb(206, 170, 208);
    width: 68px;
    height: 68px;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    transition: all .4s;
}

.about__modal-link:hover::before {
    content: '';
    opacity: 1;
}

.about__modal-text {
    max-width: 178px;
}

.about__text {
    max-width: 624px;
}

.about__title {
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
}

.about__paragrapth {
    padding: 30px 0 40px;
}

.about__advantages {}

.about__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.about__item {
    border-radius: 20px;
    background: rgb(255, 224, 203);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__item-icon {
    border: 1px solid rgb(49, 44, 39);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__window {
    position: fixed;
    inset: 0;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    color: #1F1711;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    transition: all .5s;
}

.modal__window-inner {
    position: relative;
    max-width: 428px;
    max-height: 491px;
    width: 100%;
    height: 100%;
    background: #FFF9F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.modal__window-cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.8;
}

.modal__window-cancel:first-child:hover {
    opacity: 1;
}

.modal__window-cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__window-img {
    position: absolute;
    right: 108px;
    left: 72px;
    top: -65px;
}

.modal__window-img img {
    width: 100%;
}

.modal__window-content {
    max-width: 308px;
    height: 100%;
    margin-top: 133px;
}

.modal__title {
    color: #1f1711;
    font-family: Gabriola;
    font-size: 42px;
    line-height: 90%;
    padding-bottom: 10px;
    /* padding-top: 15px; */
}

.modal__form-label {
    position: relative;
}

.modal__form-label span {
    position: absolute;
    font-size: 11px;
    top: -15px;
    left: 28px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}

.modal__input {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 19px 28px;
    width: 100%;
    border: 1px solid rgb(172, 144, 122);
    border-radius: 100px;
    font-size: 16px;

    transition: all .4s;
}

.modal__input:focus {
    padding: 27px 28px 9px;
}

.modal__input:focus span {
    padding: 27px 28px 9px;
}

.modal__input:focus+span {
    visibility: visible;
    opacity: 1;
}

.modal__input:hover {
    border-color: #FFA55C;
}

.modal__input:hover::placeholder {
    color: #FFA55C;
    transition: all .4s;
}

.modal__btn {
    width: 100%;
}

.modal-open {
    background: #404144b3;
    visibility: visible;
    opacity: 1;
}

.body--modal-open {
    background: #404144b3;
}


/* ======================================== */


.program {
    margin-bottom: 145px;
}

.program__top {
    margin-bottom: 60px;
}

.program__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px 15px;
}

.program__title {
    margin-bottom: 20px;
    font-family: Gabriola;
    font-size: 74px;
    line-height: 82%;
}

.program__text {}



.program__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    max-width: 500px;
    gap: 40px;
    flex-shrink: 0;
}

.program__discount {
    padding: 40px;
    color: rgb(49, 44, 39);
    font-size: 20px;
    grid-row: 1/3;
    border-radius: 20px;
    background: rgb(255, 224, 203);
}

.program__discount span {
    font-size: 16px;
    margin-left: 85px;
}

.program__discount-value {
    color: rgb(255, 165, 92);
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    margin-bottom: 7px;
    text-align: center;
    transform-origin: 0 0;
    animation: discount-animation 1s infinite alternate;
}

@keyframes discount-animation {
    0% {
        color: rgb(255, 165, 92);
    }

    100% {
        color: rgb(255, 145, 56);
        transform: scale(1.1);
    }
}

.small-price {
    color: rgb(49, 44, 39);
    font-family: Gabriola;
    font-size: 32px;
    line-height: 90%;
}

.big-price {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 50px;
    line-height: 90%;
}

.program__sale-title {
    color: rgb(206, 170, 208);
    line-height: 160%;
    text-transform: uppercase;
}

.program__btn {
    grid-column: 1/-1;
}

.program__image img {
    width: 100%;
}


.tab-list {
    display: flex;
    gap: 26px;
}

.tab-item {}

.tab-link {
    border-radius: 100px;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
    background: rgb(255, 249, 244);
    padding: 14px 30px;
    transition: all .4s;
    white-space: nowrap;
}

.tab-link:hover {
    background: rgb(255, 224, 203);
}

.tab-link--active {
    background: rgb(255, 224, 203);
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: block;
    width: 100%;
}

.accordion-menu {}

.accordion-list {}

.accordion__item {
    border: 1px solid rgb(255, 165, 92);
    border-radius: 20px;
    margin-bottom: 30px;
}

.accordion__item:last-child {
    margin-bottom: 40px;
}

.accordion-list-button {
    padding: 40px 30px;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.accordion-list__title {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 42px;
    line-height: 90%;
    text-align: left;
}

.accordion-list-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid rgb(255, 165, 92);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    transition: all .4s;
}

.accordion-list-icon:hover {
    background: #FFA55C;
    transform: rotate(90deg);
}

.accordion-list-icon:hover path {
    fill: #FFF9F4;
}

.accordion__item--open .accordion-list-icon {
    background: #FFA55C;
    transform: rotate(90deg);
}

.accordion__item--open .accordion-list-icon path {
    fill: #FFF9F4;
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: all.5s;
}

.accordion__content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion__content-col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion__content-title {
    color: rgb(206, 170, 208);
    line-height: 160%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordion__content-list {}

.accordion__content-text {
    max-width: 270px;

}

.accordion__content-item {
    display: flex;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.accordion__content-item:last-child {
    margin-bottom: 0;
}

.accordion__content-icon {
    border: 1px solid rgb(206, 170, 208);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    flex-shrink: 0;
}

/* ======================================== */


.gallery {
    margin-bottom: 140px;
}

.gallery__inner {}

.gallery__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    gap: 30px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    width: 100%;
}

.gallery__content {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: end;
}

.gallery__title {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 82%;
    margin-bottom: 20px;
}

.gallery__paragraph {
    max-width: 380px;
}

.gallery__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.gallery__prev,
.gallery__next {
    background: transparent;
    border: 1.5px solid rgb(255, 165, 92);
    border-radius: 100px;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .4s;
}

.gallery__pagination {
    display: flex;
    color: rgb(49, 44, 39);
    font-family: Gabriola;
    font-size: 42px;
    line-height: 90%;
}

.gallery__next:hover,
.gallery__prev:hover {
    background: rgb(255, 165, 92);
}

.gallery__next:hover path,
.gallery__prev:hover path {
    fill: #FFF9F4;
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.5px solid rgb(225, 217, 225);
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}

.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: rgb(225, 217, 225);
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: rgb(225, 217, 225);
}

.gallery__wrapper {}

.gallery__slide img {
    width: 100%;
}

/* ======================================= */



.testimonials {
    margin-bottom: 140px;
}

.testimonials__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
}

.testimonials__content {
    max-width: 632px;
}

.testimonials__title {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 82%;
    margin-bottom: 20px;
}

.testimonials__text {}

.testimonials__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.testimonials__prev,
.testimonials__next {
    background: transparent;
    border: 1.5px solid rgb(255, 165, 92);
    border-radius: 100px;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .4s;
}

.testimonials__next:hover,
.testimonials__prev:hover {
    background: rgb(255, 165, 92);
}

.testimonials__next:hover path,
.testimonials__prev:hover path {
    fill: #FFF9F4;
}

.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
    border: 1.5px solid rgb(225, 217, 225);
}

.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
    background: transparent;
}

.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path {
    fill: rgb(225, 217, 225);
}

.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
    fill: rgb(225, 217, 225);
}

.testimonials__slider {
    overflow: visible;
}

.testimonials__slider-wrapper {
    margin-bottom: 40px;
}

.testimonials__slide {
    border-radius: 20px;
    background: rgb(255, 224, 203);
    display: flex;
    gap: 30px;
    padding: 30px 30px 40px;
    opacity: .5;
    height: auto;
    transition: all .4s;
}

.testimonials__slide.swiper-slide{
    transform: scale(.9);
}

.testimonials__slide-student {
    max-width: 165px;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.testimonials__slide-img {
    border-radius: 20px;
}

.testimonials__slide-img img {
    margin-bottom: 20px;
    width: 100%;
}

.testimonials__student-name {
    color: rgb(31, 23, 17);
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.testimonials__student-inst {
    color: rgb(206, 170, 208);
}

.testimonials__slide-text {}

.testimonials__slide-title {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 32px;
    line-height: 90%;
    margin-bottom: 10px;
}

.swiper-slide-active.testimonials__slide{
    transform: scale(1);
    opacity: 1;
}

.testimonials__slide-paragraph {}

.testimonials__scrollbar.swiper-scrollbar{
    position: static;
    width: 100%;
    height: 7px;
}

.testimonials__scrollbar{
    background: #FFE0CB;
}

.swiper-scrollbar-drag{
    background: #FFA55C;
}


/* ====================================== */

.footer {
    background: #AB8261;
    color: #FFF9F4;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__inner {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.footer__column-4 {
    justify-self: end;
}

.footer__column-1 {
    margin-top: -30px;
}

.footer__logo {}

.footer__logo-text {}


.footer__column-list {}

.footer__column-item {
    margin-bottom: 20px;
}

.footer__column-item:last-child {
    margin-bottom: 0;
}

.footer__column-link {
    position: relative;
    z-index: 1;
}

.footer__column-link::before {
    content: '';
    width: 34px;
    height: 34px;
    background: #ffa55c;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    top: -13px;
    left: -13px;

    opacity: 0;
    transition: all .4s;
}

.footer__column-link:hover::before {
    opacity: 1;
}

.footer__contacts {}

.footer__contacts-item img {
    margin-right: 5px;
}

.footer__contacts-item {
    margin-bottom: 10px;
}

.footer__contacts-item:last-child {
    margin-bottom: 0;
}

.foote__contacts-link {}

.footer__call-phone {}

.footer__call-number {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 47px;
}

.footer__call-copy {
    color: #DEC5B1;
}

.socials {
    display: flex;
    gap: 15px;
    padding-top: 20px;
}

.socials__list {}

.socials__link path {
    transition: fill .4s;
}

.socials__link:hover path {
    fill: #ffa55c;
}

/* ================================================ */
/* ================================================ */
/* ================================================ */

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        margin-top: 30px;
        position: static;
        max-width: none;
    }
}

@media (max-width: 1100px) {
    .footer__inner {
        gap: 40px 15px;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .footer__column-4 {
        justify-self: center;
        grid-column: 1 / -1;
    }

    .socials {
        justify-content: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px 0;
    }

    .about__content {
        margin-right: 0;
        /* width: 70vw;
        height: 60vh; */
    }

    .about__text> :nth-child(1),
    .about__text> :nth-child(2),
    .about__text> :nth-child(3) {
        text-align: center;
    }


    .program {
        margin-bottom: 100px;
    }

    .program__title {
        text-align: center;
        font-size: 10vw;
    }

    .program__heading {
        flex-direction: column;
    }

    .accordion__content {
        gap: 30px;
    }

    .tab-list {
        flex-wrap: wrap;
        gap: 30px 26px;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .header__nav {
        background: #fdfcfc;
        z-index: 5;
        position: fixed;
        inset: 0;
        padding: 20vh 20px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4vh;
        font-size: 20px;
    }

    .body--opened-menu .header__nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
        z-index: 6;
    }

    .accordion-list-button {
        padding: 20px 10px;
    }

    .accordion-list__title {
        font-size: 38px;
    }

    .accordion__content {
        flex-direction: column;
    }

    .accordion__content-item {
        margin-bottom: 15px;
        display: flex;
        flex-shrink: 0;
    }

    .accordion__content-title {
        margin-bottom: 10px;
    }

    .accordion__content-text {
        max-width: none;
    }

    .program__bottom {
        display: block;
    }

    .program__action {
        grid-template-columns: minmax(280px, 1fr) 1fr;
        max-width: none;
    }

    .program__image {
        display: none;
    }

    .gallery__info {
        grid-template: none;
    }

    .gallery__img {
        display: none;
    }

}

@media (max-width:850px) {
    .hero__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        text-align: center;
    }

    .hero__img>img {
        display: none;
    }

    .hero__img-control {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin-bottom: 30px;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    .testimonials__inner{
        flex-direction: column;
        text-align: left;
        align-items: start;
    }

    .testimonials__content{
        margin-bottom: 40px;
    }

    .testimonials__title{
        font-size: 11vw;
    }

    .testimonials__nav{
        align-self: flex-end;
    }
}

@media (max-width:600px) {
    .hero__title {
        font-size: 12vw;
    }

    .about {
        padding: 50px 0;
        gap: 50px;
    }

    .about__title {
        font-size: 14vw;
    }

    .about__content {
        position: static;
        display: grid;
        grid-template-rows: min-content;
        gap: 10px 0;
        width: 100%;
    }

    .about__modal {
        position: static;
        padding: 10px;
        justify-self: center;
    }


    .about__list {
        display: grid;
        gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .accordion-list__title {
        font-size: 32px;
    }

    .accordion-list-icon {
        width: 30px;
        height: 30px;
    }

    .program__top {
        margin-bottom: 40px;
    }

    .program__discount {
        padding: 30px;
        justify-self: center;
        text-align: left;
    }

    .program__action {
        grid-template: none;
    }

    .gallery__content {
        flex-direction: column;
        align-items: end;
    }

    .gallery__paragraph {
        max-width: none;
    }

    .gallery__text {
        margin-bottom: 30px;
    }

    .gallery__info {
        margin-bottom: 20px;
    }

    .testimonials__slide {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .testimonials__scrollbar.swiper-scrollbar{
        width: 60%;
        margin: 0 auto;
    }
}

@media (max-width:450px) {
    .modal__window-img {
        width: 50vw;
        left: 20px;
        top: -50px;
    }

    .modal__window-content {
        margin-top: 100px;
        padding: 0 10px;
    }

    .accordion__content {
        padding: 0 20px 40px;
    }
}